name: Build packages conda

on:
  workflow_call:
    inputs:
      branch:
        default: develop
        required: true
        type: string
  workflow_dispatch:
    inputs:
      branch:
        default: develop
        required: true
        type: choice
        options:
          - develop
          - main

jobs:
  build:
    name: Build conda package
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target-platform: linux-64
          - os: ubuntu-24.04-arm
            target-platform: linux-aarch64
          - os: windows-latest
            target-platform: win-64
          - os: macos-15-intel
            target-platform: osx-64
          - os: macos-latest
            target-platform: osx-arm64
    steps:
      - uses: actions/checkout@v5
        with:
          ref: v850ratler
          repository: marcelotduarte/cx_freeze-feedstock

      - uses: actions/checkout@v5
        with:
          ref: develop
          repository: marcelotduarte/cx_Freeze
          path: recipe/cx_Freeze

      - name: Prepare recipe
        id: recipe
        working-directory: recipe
        run: |
          pushd cx_Freeze/cx_Freeze
          VERSION=$(grep "__version__ = " __init__.py | sed 's/-/./' | awk -F\" '{print $2}')
          popd
          sed -i.bkp "s/  version: 8/  version: $VERSION  # 8/" recipe.yaml
          sed -i.bkp 's/number:/  number: 0  # /' recipe.yaml
          sed -i.bkp 's/coverage run || true/coverage run/' recipe.yaml
          sed -i.bkp 's!git:!  - path: ./cx_Freeze!' recipe.yaml
          sed -i.bkp 's/rev:/  # /' recipe.yaml
          git diff

      - name: Build conda package
        uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          recipe-path: recipe/recipe.yaml
          # needs to be unique for each matrix entry
          artifact-name: package-${{ matrix.target-platform }}
          build-args: >
            --target-platform ${{ matrix.target-platform }}
            ${{ matrix.target-platform == 'linux-aarch64' && ' --no-test' || '' }}
            --output-dir build_artifacts

      - run: ls -l build_artifacts
