name: CI-313

on:
  workflow_dispatch:
    inputs:
      branch:
        default: develop
        required: true
        type: choice
        options:
          - develop
          - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14, macos-13]
        python-version: ['3.13', '3.13t']
      fail-fast: false
    defaults:
      run:
        shell: bash
    env:
      UV_NO_PROGRESS: true
    steps:

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install -qy alien fakeroot rpm

      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}
          repository: marcelotduarte/cx_Freeze

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
        if: matrix.python-version != '3.13t'

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          python-version: ${{ matrix.python-version }}

      - name: Env
        run: env | sort

      - name: Sysconfig
        run: uv run --no-project -m sysconfig

      - name: Install dependencies to test
        run: |
          uv sync --no-install-project --extra tests
          uv pip install --extra-index-url https://test.pypi.org/simple/ "cx-Freeze==7.3.0.*" --no-deps --reinstall

      - name: pip list
        run: uv pip list -v

      - name: Generate coverage report
        run: uv run --no-project coverage run

      - name: Upload coverage reports
        uses: actions/upload-artifact@v5
        with:
          name: cov-${{ matrix.python-version }}.${{ matrix.os }}
          path: .coverage.*
          include-hidden-files: true
