name: Create manylinux2014 v8

on:
  release:
    types: [created]
  #schedule:
    # run every day at 8:30AM UTC to refresh the cache
    # the cache results in time reduction from 1h20m19s to 1m34s
  #  - cron:  '30 8 * * *'
  workflow_dispatch:

jobs:

  build_manylinux2014_image:
    strategy:
      matrix:
        platform: [x86_64]
        policy: [manylinux2014]
    name: Build wheel using ${{ matrix.policy }}_${{ matrix.platform }}
    runs-on: ubuntu-latest
    env:
      POLICY: ${{ matrix.policy }}
      PLATFORM: ${{ matrix.platform }}
      COMMIT_SHA: ${{ github.sha }}
    steps:
      -
        uses: actions/checkout@v6
        with:
          ref: develop
          repository: marcelotduarte/cx_Freeze
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Setup cache
        uses: actions/cache@v4
        with:
          path: manylinux/.buildx-cache-${{ matrix.policy }}_${{ matrix.platform }}/*
          key: buildx-cache-${{ matrix.policy }}-${{ matrix.platform }}-${{ hashFiles('manylinux/docker/**') }}
          restore-keys: buildx-cache-${{ matrix.policy }}-${{ matrix.platform }}-
      -
        name: Build docker image
        run: ./ci/manylinux-create.sh
      -
        name: Save the image to upload
        continue-on-error: true
        env:
          IMAGENAME: quay.io/pypa/${{ matrix.policy }}_${{ matrix.platform }}
          FILENAME: /tmp/docker/${{ matrix.policy }}_${{ matrix.platform }}.tar
        run: |
          mkdir -p /tmp/docker
          docker images
          docker tag $IMAGENAME:$COMMIT_SHA $IMAGENAME:latest
          docker images
          docker save -o $FILENAME $IMAGENAME:latest
          docker images
      -
        name: Display structure of docker files
        continue-on-error: true
        run: |
          ls -l -h /tmp/docker
          docker images
      -
        name: Upload the artifact (docker image)
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.policy }}_${{ matrix.platform }}
          path: /tmp/docker/${{ matrix.policy }}_${{ matrix.platform }}.tar
