name: CI-pre-commit

on:
  workflow_dispatch:
    inputs:
      branch:
        default: develop
        required: true
        type: choice
        options:
          - develop
          - main

jobs:
  pre_commit:
    runs-on: ubuntu-latest
    env:
      UV_SYSTEM_PYTHON: true
    steps:

      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}
          repository: marcelotduarte/cx_Freeze

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: ./ci/install-tools.sh --dev

      - name: Run prek
        run: >-
          prek run --show-diff-on-failure --color=always
          --all-files --hook-stage=manual --no-progress
