on:
  workflow_dispatch:
    inputs:
      branch:
        default: develop
        required: true
        type: choice
        options:
          - develop
      python-version:
        default: "3.10,3.11,3.12,3.13,3.14"
        required: false
        type: choice
        options:
          - "3.10,3.11,3.12,3.13,3.14"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
      deps:
        default: "d"
        required: false
        type: choice
        options:
          - "d"
          - "e"
          - "p"
          - "l"
      bdist:
        default: ""
        required: false
        type: choice
        options:
          - ""
          - "bdist_appimage"
          - "bdist_deb"
          - "bdist_rpm"
      os_version:
        default: "24.04"
        required: false
        type: choice
        options:
          - "22.04"
          - "24.04"
          - "24.04-arm"

name: Test-1-pip (Linux)
jobs:
  tests:
    name: Test-pip-linux-${{ inputs.branch }}-${{ inputs.deps }}-${{ inputs.bdist }}
    uses: ./.github/workflows/test-1-pip-base.yml
    with:
      branch: ${{ inputs.branch }}
      python-version: ${{ inputs.python-version }}
      deps: ${{ inputs.deps }}
      bdist: ${{ inputs.bdist }}
      os: ubuntu
      os_version: ${{ inputs.os_version }}
