name: Test-5-conda-selected

on:
  #push:
  #  branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        sample:
          - pandas
          - pyqt5
          - pyqt5-simplebrowser
          - pyqt6
          - pyqt6-simplebrowser
          - pyside2
          - pyside2-simplebrowser
          - pyside6
          - pyside6-simplebrowser
        os: [macos-latest]
        python-version: ["3.10"]
    name: ${{ matrix.sample }}-${{ matrix.os }}-${{ matrix.architecture }}-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    env:
      KEY_BASE: ${{ matrix.sample }}-${{ matrix.os }}-${{ matrix.architecture }}-${{ matrix.python-version }}
    steps:

      - name: Checkout cx_Freeze
        uses: actions/checkout@v6
        with:
          ref: develop
          repository: marcelotduarte/cx_Freeze

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: ${{ env.KEY_BASE }}
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: sysconfig
        run: python -m sysconfig

      - name: Freeze and run "${{ matrix.sample }}" (build_exe)
        env:
          TEST_BDIST: bdist_dmg
        id: freeze-and-run
        run: ./ci/build-test-one.sh ${{ matrix.sample }} --debug --deps=d --venv

      - name: Collect images and logs
        if: ${{ always() }}
        working-directory: samples/${{ matrix.sample }}
        env:
          KEY_BASE: ${{ matrix.sample }}-${{ matrix.os }}-${{ matrix.python-version }}
        run: |
          (python -m sysconfig > sysconfig-${{ matrix.os }}-${{ matrix.python-version }}.log) || true
          mkdir ${{ matrix.sample }}-${{ matrix.os }}
          cp build/exe.*/*.{err,log,png} ${{ matrix.sample }}-${{ matrix.os }} || true
          mkdir ${{ matrix.sample }}-${{ matrix.os }}/app-${{ matrix.python-version }}
          cp build/*.app/Contents/MacOS/*.{err,log,png} ${{ matrix.sample }}-${{ matrix.os }}/app-${{ matrix.python-version }} || true
          # use tar to reduce the number of files and speed up the upload
          (cd build/exe.*/; tar cf ../../build-exe-$KEY_BASE.tar *) || true
          (cd build/*.app/; tar cf ../../build-app-$KEY_BASE.tar *) || true
          mv build/*.dmg .. || true

      - name: Upload the snapshots and logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: screensnapshots-${{ matrix.sample }}-conda
          path: |
            ./samples/${{ matrix.sample }}/sysconfig-*.log
            ./samples/${{ matrix.sample }}/${{ matrix.sample }}-${{ matrix.os }}/**
            ./samples/${{ matrix.sample }}/*.dmg
            ./samples/${{ matrix.sample }}/*.tar
          if-no-files-found: ignore
